

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacer{
  
  width: 100vw!important;
  height: 50vh;
  position: relative;
  
}

.space{
  width: 100%!important;
  height: 50vh;
  
}



.space2{
  width: 100%!important;
  height: 50vh;
  
  
}


.space2:hover {
    border: 1px solid #4195fc; /* some kind of blue border */

    /* other CSS styles */

    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    /* make it glow! */
    -webkit-box-shadow: 0px 0px 10px #4195fc;
       -moz-box-shadow: 0px 0px 10px #4195fc;
            box-shadow: 0px 0px 15px #4195fc; 
            transition: 2s;
}
.space3{
  width: 100%!important;
  height: 50vh;
}

.space4{
  width: 100vw!important;
  height: 50vh;
  
}

.space5{
  width: 100vw!important;
  height: 50vh;
  background: blue!important;
}


.space5:hover{
  transform: scale(1.1); 
  background: #ffa44f!important;
  transition: 1s;
  
}


html{
  background-color: black;
}

section{
  display: flex;
  justify-content: center;
 align-items: center; 																
			
}

.imgcontainer{
  
 background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), 
    url('caa-bg.jpeg');
    

}

.title{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 110%;
}



.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
     
.text-title{
font-size: 50px;
color: #fff;
  } 
  
 .card {
 width: 18rem;
 }
 
 .space { 
 padding-top: 300px; 
 }

.container-1{
/*position: absolute;
right: -20px;
padding: 40px 0px 40px 0px;
*/
}