{% extends "base.html" %} 

{% block title %} Add Content {% endblock %} 

{% block content %}



<!--

TITLE HOLDER INPUT

-->


 <div class ="img d-flex flex-column min-vh-100 justify-content-center align-items-center">  
        <form id = "form" class="form-group" action="/admin/upload" method="POST" enctype="multipart/form-data">
         <div class="form-row align-items-center">
           <div class="col-md-12 input-group mb-4">
         <input id = "Bookname" name="Bookname" placeholder = "Enter Title"type="text" autocomplete="off" class="form-control form-control-sm bg-transparent"> </input> 
        </div>


<!--

AUTHOR NAME INPUT 

-->

        
  <div class="col-md-12 input-group mb-4">
         <input id = "Authorname" name="Author" placeholder = "Enter Author"type="text" autocomplete="off" class="form-control form-control-sm bg-transparent"> </input> 
        </div>
        
         <div class="col-md-12 input-group mb-4">
        <input class="form-control" type="text" name="Filename" id="Filename" readonly="readonly" v />
         </div>
      
      
      
          <div class="col-md-12 input-group mb-4">
           
  <input class="form-control"type="file" name="File" id="File" value="" />
         </div>

   <div class="col-md-12 input-group mb-4">
         <select id="categories" name="Category" class="form-select" aria-label="Default select example" value = "">
  <option value="" selected>Category</option>
  <option value="General Works, Computer Science & Information">General Works, Computer Science & Information</option></option>
  <option value="Philosophy & Psychology">Philosophy & Psychology</option>
  <option value="Religion">Religion</option>
    <option value="Social Sciences">Social Sciences</option>
  <option value="Language">Language</option>
  <option value="Science">Sciences</option>
  <option value="Technology">Technology</option>
  <option value="Arts & Recreation">Arts & Recreation</option>
  <option value="Literature">Literature</option>
  <option value="History & Geography">History & Geography</option>
</select>
         </div>


<div class="col-md-12 input-group mb-4">
         <button class="btn btn-primary min-vw-100" type="submit">Submit</button>
         </div>

</form>
{% endblock %}

