<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF.js Express Viewer</title>
  
  <style>
  #viewer{
    width:100vw;
    height:100vh;
    margin:0 auto;
  }
    
    
  </style>
</head>
<!-- Import PDF.js Express Viewer as a script tag from the lib folder using a relative path -->
<!-- <script src='/lib/webviewer.min.js'></script> -->


<script src="{{url_for('static',filename = '/PDFJSExpress-view-only/lib/webviewer.min.js')}}"></script>

<body>
  <div id='viewer' style="width:1024px,height:600px,margin:0 auto"></div>
  
  <script>
  WebViewer({
    path: '{{url_for('static',filename = '/PDFJSExpress-view-only/lib')}}', // path to the PDF.js Express'lib' folder on your server
    licenseKey: 'ULJuh4iXKxKuQqzrnzlx',
    initialDoc: '/download/{{filename}}',
    // initialDoc: '/path/to/my/file.pdf',  // You can also use documents on your server
  }, document.getElementById('viewer'))
  .then(instance => {
    // now you can access APIs through the WebViewer instance
    const { Core, UI } = instance;

    // adding an event listener for when a document is loaded
    Core.documentViewer.addEventListener('documentLoaded', () => {
      console.log('document loaded');
    });

    // adding an event listener for when the page number has changed
    Core.documentViewer.addEventListener('pageNumberUpdated', (pageNumber) => {
      console.log(`Page number is: ${pageNumber}`);
    });
  });
</script>
  
</body>




</html>